{% extends "layout.html" %}

{% block title %}
    Portfolio - {{ user["username"] }}
{% endblock %}

{% block main %}

    <h1 style="margin-bottom: 20px;">Portfolio - {{ user["username"] }}</h1>

    <div style="margin: auto; width: 60%;">
        <table class="table-striped table-bordered">
            <thead>
                <th>Ticker</th>
                <th>Shares</th>
                <th>Purchase Price</th>
                <th>Current Price</th>
                <th>Profit</th>
                <th>Overall Value</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.ticker }}</td>
                        <td>{{ transaction.shares }}</td>
                        <td>{{ transaction.buy_price }}</td>
                        <td>{{ transaction.current_price }}</td>
                        <td>{{ transaction.pl }}</td>
                        <td>{{ transaction.current_price * transaction.shares }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="column" style="padding-top: 20px;">
        <h3>Cash: {{ user["cash"] }}</h3>
    </div>

{% endblock %}
